@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* setting */
/* animation */
/* reset */
/* utility */
/* layout */
/* design */
/* media query */

/* utility */
body{
    position: relative;
}

.chatting_bg{
    width: 100%;
    min-width: 390px;
    height: 100vh;
    overflow: hidden;
    background-color: #F2F2F2;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
span{
    position: absolute;
    color: #767676;
}

/* 상단바 */
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 390px;
    height: 48px;
    border-bottom: .5px solid #DBDBDB;
    padding: 13px 12px 12px 16px;
    box-sizing: border-box;
    background: #FFF;
    position: fixed;
    top: 0;
}

.top-nav .icon-left-arrow{
    width: 22px;
    height: 22px;
}

.top-nav h1{
    position: absolute;
    left: 50px;
    /* transform: translate(-100%, 10%); */
    font-size: 14px;
}

.top-nav .icon-more{
    background: url(../img/more-vertical.png) no-repeat center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


/* 상대방 챗 */
.content{
    width: 100%;
    min-width: 390px;
    margin-top: 48px;
    padding: 10px;
}
.content li{
    position: relative;
    margin: 15px 5px;
    width: 358px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 12px;
    /* background-color: #DBDBDB; */
}
.content li img{
    width: 42px;
}
.content li .text_container{
    position: relative;
    width: 240px;
    border: 1px solid #767676;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
    color: #767676;
    transform: translateY(10px);
}

.content li span{
    right: -40px;
    bottom: 0;
}


/* 나의 챗 */
.me {
    width: 100%;
    min-width: 390px;
    margin-top: 48px;
    padding: 10px;
}
.me li{
    position: relative;
    width: 100%;
    font-size: 12px;
    text-align: right;
    /* margin: 0 auto; */
}
.me li .text_container{
    position: absolute;
    right: 30px;
    width: 240px;
    background-color: #F4BC1E;
    padding: 10px;
    border-radius: 10px 0 10px 10px;
    color: #ffffff;
    transform: translateY(10px);
}
.me li span{
    left: -40px;
    bottom: 0px;
}



/* 하단텍스트 입력  */

.textinput{
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 390px;
    height: 61px;
    border-top: #DBDBDB 0.5px solid;
    background-color: #fff;
    /* background: url('../img/img-button.png') top right no-repeat; */
}
.textinput img, .textinput_input_file{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; 
}
.textinput img{
    top: 12px;
    left: 10px;
    width: 36px;
    z-index: 8;
   
}
.textinput_input_file{
    left: -80px;
    width: 100px;
    cursor: pointer;
    padding: 20px;
    opacity: 0;
    z-index: 10;
}

.textinput_input_text{
    position: absolute;
    left: 60px;
    width: 80%;
    height: 100%;
    outline: none;
    font-size: 14px;
    /* background-color: #DBDBDB; */
}
.textinput_input_text::placeholder{
    color: #C4C4C4;
}
.textinput_input_text:focus button {
    color: #F4BC1E;
}
.textinput button{
    position: absolute;
    right: 3%;
    bottom: 30%;
    color: #F4BC1E;
    font-size: 14px;
    transition: all .2s;
    z-index: 20;
}
.textinput button:disabled{
    color: #C4C4C4;
}

/* 모달창 */
.modal_bg{
    position: fixed;
    width: 100%;
    min-width: 390px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.modal_bg.on{
    background-color: #00000041;
    z-index: 99;
}
.chatting_modal{
    /* display: none; */
    position: fixed;
    bottom: -90px;
    left: 0;
    width: 100%;
    min-width: 390px;
    height: 92px;
    background-color: #fff;
    border-radius: 10px 10px 0 0 ;
    z-index: 99;
    text-align: left;
    cursor: pointer;
    transition: all .3s linear;
}

.chatting_modal.on{
    bottom: 0;
}

.chatting_modal hr{
    width: 50px;
    height: 5px;
    background-color: #DBDBDB;
    border: none;
}

.chatting_modal a{
    display: block;
    margin: 30px 0 0 20px;
    font-size: 14px;
}
