@charset "utf-8";
@import "./components/navbar.css";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* setting */
/* animation */
/* reset */
/* utility */
/* layout */
/* design */
/* media query */

/* utility */

#wrap{
    width: 100%;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    /* background-color: #767676; */
}
/* 상단바 */

.top-nav{
    width: 100%;
    min-width: 390px;
    height: 48px;
    border-bottom: .5px solid #DBDBDB;
    padding: 13px 12px 12px 16px;
    box-sizing: border-box;
    background: #FFF;
    position: fixed;
    top: 0;
}

.icon-left-arrow{
    width: 22px;
    height: 22px;
    float: left;
}

.top-nav .icon-more{
    background: url(../img/more-vertical.png) no-repeat center;
    width: 24px;
    height: 24px;
    float: right;
    cursor: pointer;
}

.content {
    width: 100%;
    margin: 48px auto;
}
.content li{
    position: relative;
    padding: 10px 15px;
    width: 100%;
    min-width: 390px;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 12px;
    background-color: #ffffff;
    cursor: pointer;
    /* transition: all .2s linear */
}
.content li:hover{
    background-color: #f6f6f6e9;
}
.content li:first-child::after{
    content: "";
    position: absolute;
    top: 13px;
    left: 10px;
    width: 12px;
    height: 12px;
    background-color: #F4BC1E;
    border-radius: 50%;
}
.content li img{
    width: 42px;
}
.content li .text_container{
    line-height: 18px;
}
.content li .text_container h2{
    font-size: 14px;
}
.content li .text_container p{
    color: #767676;
}
.content li span{
    position: absolute;
    right: 50px;
    bottom: 15px;
    font-size: 10px;
    color: #DBDBDB;
}

.footer-nav ul li:nth-child(2) img{
    filter: invert(82%) sepia(62%) saturate(444%) hue-rotate(356deg) brightness(135%) contrast(111%);
    transform: translateY(-0.5px) scale(1.03);
  }

  .footer-nav ul li:nth-child(2) span{
    color: #F4BC1E;
    transform: translateY(-0.5px) scale(1.03);
  }
