@import "./components/navbar.css";

.home-initial-sec div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-initial-sec div p{
  margin: 47px 0 20px;
  font-size: 12px;
  color: #767676;
}
.home-initial-sec div .search-btn.second {
  padding: 13px 34px;
  border-radius: 44px;
  border: none;
  background-color: #F4BC1E;
  color: #fff;
  translate: all 0.3s;
  cursor: pointer;
}
.home-initial-sec div .search-btn.second {
  transform: scale(0.9);
}

.search-header .search-btn.first {
  cursor: pointer;
}

.footer-nav ul a:nth-child(1) img{
  filter: invert(82%) sepia(62%) saturate(444%) hue-rotate(356deg) brightness(135%) contrast(111%);
  transform: translateY(-0.5px) scale(1.03);
}

.footer-nav ul a:nth-child(1) span{
  color: #F4BC1E;
  transform: translateY(-0.5px) scale(1.03);
}