@import "./components/navbar.css";

.home-initial-sec div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-initial-sec div p{
  margin: 47px 0 20px;
  font-size: 12px;
  color: #767676;
}
.home-initial-sec div .search-btn{
  padding: 13px 34px;
  border-radius: 44px;
  border: none;
  background-color: #F4BC1E;
  ;
  color: #fff;
  translate: all 0.3s;
}
.home-initial-sec div .search-btn:active{
  transform: scale(0.9);
}