@charset "utf-8";
@import "./components/navbar.css";

.hide{
    display: none;
}
.display-inline{
    display: inline-block;
    cursor: pointer;
}

.followers-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: .5px solid #DBDBDB;
    padding: 12px 277px 12px 16px;
    box-sizing: border-box;
    background: #FFF;
}

.followers-nav h1{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    vertical-align:text-bottom;
}

.followers-nav img{
    width: 24px;
    height: 24px;
}

.followers-list{
    background: #FFF;
    padding: 24px 16px 0 16px;
    overflow-y:auto;
    margin-top: 40px; 
}

.followers-list li{
    width: 358px;
    height: 50px; 
    margin-bottom: 16px;
}

.followers-list img{
    width: 50px;
    height: 50px;
    margin-right: 12px;
    vertical-align: top;
}

.followers-list .follower-desc{
    width: 228px;
}

.followers-list .follower-desc p{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 5px;
    margin-bottom: 6px;
}

.followers-list .follower-desc small{
    font-size: 12px;
    font-weight: 400;
    color: #767676;
}

.follow-btn{
    width: 56px;
    height: 25px;
    border-radius: 26px;
    background: #F4BC1E;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    margin: 11px 0 11px;
    vertical-align: top;
    cursor: pointer;
}

.cancel-btn{
    width: 56px;
    height: 25px;
    border-radius: 26px;
    color: #767676;
    border: 1px solid #DBDBDB;
    font-size: 12px;
    text-align: center;
    margin: 11px 0 11px;
    vertical-align: top;
    cursor: pointer;
}
.footer-nav ul a:nth-child(4) span{
    color: #F4BC1E;
  }
