@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
h1 {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
    /* background-color: black; */
    box-sizing: border-box;
  }
#wrap{
  position: relative;
  width: 100%;
  min-width: 390px;
  height: 100vh;
  top: 0;
} 

  .banana-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* Splash */

  .banana-container.splash {
    position: fixed;
    background-color: white;
    transition: all 1s;
    top: 0;
    z-index: 99;
  }
  
  .banana-container.splash .img-banana {
    display: block;
    margin: 190px auto;
    height: 140px;
    background: url("../img/banana_market.png") center no-repeat;
    background-size: 140px;
  }

  .banana-container.splash .txt-banana {
    position: absolute;
    top: 45%;
    left: 50%;
    letter-spacing: 10px;
    font-size: 33px;
    font-weight: 600;
    color: #F4BC1E;
    transform: translate(-50%, 100%);
  }

  /* login */

  .banana-container.login {
    position: relative;
    background-color: #F4BC1E;
  }
  
  .banana-container.login .login-img {
    margin: 190px auto;
    height: 140px;
    background: url("../img/banana_market_w.png") center no-repeat;
    
  }
  
  .banana-container.login article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-width: 390px;
    height: 302px;
    background-color: white;
    border-radius: 20px 20px 0 0;
    font-size: 12px;
    color: #767676;
  }
  
  .banana-container.login article button {
    width: 85%;
    min-width: 322px;
    height: 44px;
    background-color: white;
    color: #767676;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .banana-container.login article button::before {
    content: " ";
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    transform: translateX(10px) translateY(-5px);
  }
  
  .banana-container.login article .kakao {
    margin-top: 50px;
    border: 1px solid #f2c94c;
  }
  
  .banana-container.login article .kakao::before {
    background: url("../img/message-circle.png");
    background-size: 24px;
  }
  
  .banana-container.login article .google {
    border: 1px solid #767676;
  }
  
  .banana-container.login article .google::before {
    background: url("../img/Google__G__Logo 1.png");
    background-size: 24px;
  }
  
  .banana-container.login article .facebook {
    margin-bottom: 20px;
    border: 1px solid #2d9cdb;
  }
  
  .banana-container.login article .facebook::before {
    background: url("../img/facebook.png");
    background-size: 24px;
  }
  
  .banana-container.login article a {
    display: inline-block;
    font-size: 12px;
    color: #767676;
    margin: 0px 5px;
  }

/* login_email */

.cont-banana {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  align-items: center;
}

.cont-banana .tit {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 40px;
}

.cont-banana .inp {
  width: 322px;
  height: 58px;
  color: #767676;
}

.inp label {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.inp input {
  width: 322px;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #DBDBDB;
}

.inp input:focus {
  border-bottom: 1px solid #F26E22;
}

.inp.email {
  margin-top: 40px;
  margin-bottom: 16px;
}

/* .cont-banana .btn {
  cursor: pointer;
  margin: 30px 0 20px;
  background-color: #F4BC1E;
}

.cont-banana .btn:focus {
  background-color: #F4BC1E;
} */

.login-button{
  cursor: pointer;
  margin: 30px 0 20px;
  background-color: #F4BC1E;
}
.login-button:disabled{
  background-color: #EEDBA5;
}

.cont-banana a {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #767676;
}

.cont-banana .btn.login-button {
  width: 322px;
  height: 44px;
  border-radius: 44px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.cont-banana .error-msg {
  margin-top : 13px;
  color: #EB5757;
  font-size: 12px;
  font-weight: 400;
}

.cont-banana .join-pw-error {
  margin-top : 5px;
  color: #EB5757;
  font-size: 12px;
  font-weight: 400;
}

.cont-banana .join-id-error {
  margin-top : -10px;
  color: #EB5757;
  font-size: 12px;
  font-weight: 400;
}

.cont-banana .join-idinput-error {
  margin-top : 5px;
  color: #EB5757;
  font-size: 12px;
  font-weight: 400;
}
.cont-banana.profile {
  display: none;
}

.cont-banana.profile-setting {
  display: flex;
}

/* top-upload-nav */

.top-upload-nav {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: #DBDBDB solid 0.5px;
}
.top-upload-nav .arrow {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin: 13px 16px;
  background: url(../img/icon-arrow-left.png)
  }

.top-upload-nav .profile-save-btn {
  font-size: 14px;
  font-weight: 500;
  width: 90px;
  height: 32px;
  cursor: pointer;
  margin: 8px 16px;
  background-color: #EEDBA5;
  border-radius: 32px;
  color: white;
  border: none;
}

.top-upload-nav .profile-save-btn:focus {
  background-color: #F4BC1E;
}

/* setting */

.cont-banana .tit-txt {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 12px;
}

.cont-banana .tit-txt + p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #767676;
}

.cont-banana .profile-img {
  width: 110px;
  height: 110px;
  margin: 30px 0;
  position: relative;
  cursor: pointer;
}

.cont-banana .profile-user-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-img img:last-child {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cont-banana .inp-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cont-banana .inp-wrap input{
    outline: none;
}


