@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.sr-only {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    width: 100%;
    min-width: 390px;
    /* height: 100vh; */
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* 상단 nav */
.top-nav {
    position: fixed;
    width: 390px;
    height: 48px;
    border-bottom: 0.5px solid #dbdbdb;
    padding: 13px 12px 12px 16px;
    box-sizing: border-box;
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 99;
}

.icon-left-arrow {
    width: 22px;
    height: 22px;
    float: left;
}

.icon-more {
    width: 24px;
    height: 24px;
    float: right;
}
/* 댓글 리스트업 */

.comments-container{
    width: 100%;
    /* background-color: #c4c4c4; */
    border-top: 1px solid #c4c4c4;
}
.comments-container .comment-element{
    position: relative;
    width: 380px;
    margin: 10px auto;
}
/* .comment-element:last-child{
    margin-bottom: 100px;
} */
.comments-innerbox {
    width: 230px;
    display: flex;
    gap: 13px;
    margin: 20px 0;
    align-items: center;
}
.comments-innerbox img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F26E22;
    cursor: pointer;
}
.comments-innerbox > h3{
    font-size: 14px;
    cursor: pointer;
}

.comments-container > p{
    display: block;
    font-size: 14px;
}
.comments-innerbox > span{
    font-size: 10px;
    color: #767676;
}
.comments-dot{
    position: absolute;
    top: 10px;
    right: -5px;
    width: 20px;
    cursor: pointer;
}

/* 하단텍스트 입력  */

.textinput {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 390px;
    height: 61px;
    border-top: #dbdbdb 0.5px solid;
    background-color: #fff;
}
.textinput img {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.textinput img {
    top: 12px;
    left: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
/* .textinput_input_file{
    left: -80px;
    width: 100px;
    cursor: pointer;
    padding: 20px;
    opacity: 0;
    z-index: 10;
} */

.textinput_input_text {
    position: absolute;
    left: 60px;
    width: 80%;
    height: 100%;
    outline: none;
    font-size: 14px;
    /* background-color: #DBDBDB; */
    z-index: 99;
}
.textinput_input_text::placeholder {
    color: #c4c4c4;
}
.textinput_input_text:focus button {
    color: #f4bc1e;
}
.textinput button {
    position: absolute;
    right: 3%;
    bottom: 30%;
    color: #f4bc1e;
    font-size: 14px;
    transition: all 0.2s;
    z-index: 20;
}
.textinput button:disabled {
    color: #c4c4c4;
}

/* 상단 모달창 */
.modal1 {
    width: 390px;
    height: 138px;
    background: #fff;
    border-radius: 10px 10px 0 0;
}

.modal1::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 5px;
    background: #dbdbdb;
    border-radius: 5px;
    margin: 16px 170px;
}

.modal1 p {
    width: 100%;
    height: 46px;
    padding: 14px 338px 16px 26px;
    font-size: 13px;
    font-weight: 400;
}

.modal3 {
    width: 252px;
    height: 110px;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}

.modal3 p {
    width: 100%;
    height: 64px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 0.5px solid #dbdbdb;
    line-height: 64px;
}

.modal3 .cancle-btn {
    width: 125px;
    height: 45px;
    float: left;
    font-size: 14px;
    color: #000;
    border-right: 0.5px solid #dbdbdb;
    border-radius: 0 0 0 10px;
}

.modal3 .del-btn {
    width: 125px;
    height: 45px;
    float: right;
    font-size: 14px;
    color: #f4bc1e;
    border-radius: 10px;
}

/* 모달창 */
.modal_bg {
    position: fixed;
    width: 100%;
    min-width: 390px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.modal_bg.on {
    background-color: #00000041;
    z-index: 99;
}
.chatting_modal {
    /* display: none; */
    position: fixed;
    bottom: -90px;
    left: 0;
    width: 100%;
    min-width: 390px;
    height: 92px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    z-index: 99;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s linear;
}

.chatting_modal.on {
    bottom: 0;
}

.chatting_modal hr {
    width: 50px;
    height: 5px;
    background-color: #dbdbdb;
    border: none;
}

.chatting_modal a {
    display: block;
    margin: 30px 0 0 20px;
    font-size: 14px;
}

/* 버튼 초기화 */
button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
}

img {
    vertical-align: bottom;
}

* {
    box-sizing: border-box;
}

/* 좋아요 하트 */

.likes svg {
    transition: .2s linear;
  }
  
.likes-on {
    fill: #F26E22;
    stroke: #F26E22;
    cursor: pointer;
    transform: scale(1.15);
  }

/* 댓글 삭제 모달창 */

.modal_bg {
    position: fixed;
    width: 100%;
    min-width: 390px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .modal_bg.on {
    background-color: #00000041;
    z-index: 99;
  }
  
  .posting_modal {
    /* display: none; */
    position: fixed;
    bottom: -120px;
    left: 0;
    width: 100%;
    min-width: 390px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    z-index: 99;
    text-align: left;
    cursor: pointer;
    transition: all .3s linear;
  }
  
  .posting_modal.on {
    bottom: 0;
  }
  
  .posting_modal hr {
    width: 50px;
    height: 5px;
    background-color: #DBDBDB;
    border: none;
  }
  
  .posting_modal button {
    display: block;
    text-align: left;
    width: 100%;
    padding: 25px 0 0 20px;
    font-size: 14px;
  }
  
  .modal_report, .modal_delete {
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 252px;
    height: 110px;
    border-radius: 10px;
    background: #FFF;
    text-align: center;
    border-radius: 10px;
    z-index: 999;
    display: none;
   
  }
  
  .modal_report.on, .modal_delete.on{
    display: block;
  }
  
  .modal_report p, .modal_delete p {
    width: 100%;
    height: 64px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: .5px solid #DBDBDB;
    line-height: 64px;
  }
  
  .modal_report .cancel-button, .modal_delete .cancel-button {
    width: 125px;
    height: 45px;
    float: left;
    font-size: 14px;
    color: #000;
    border-right: .5px solid #DBDBDB;
    border-radius: 0 0 0 10px;
  
  }
  .modal_report .cancel-button.on , .modal_delete .cancel-button.on {
    display: block;
  }
  
  .modal_report .report-btn, .modal_delete .delete-btn{
    width: 125px;
    height: 45px;
    float: right;
    font-size: 14px;
    color: #F4BC1E;
    border-radius: 10px;
}