@import "./components/navbar.css";
.write-sec{
  margin: 30px 34px;
}
.write-sec p{
  margin-bottom: 18px;
  font-size: 12px;
  color: #767676;
}
/* btn */
.sale-save{
  font-size: 14px;
  font-weight: 500;
  width: 90px;
  height: 32px;
  margin: 8px 16px;
  background-color: #F4BC1E;
  border-radius: 32px;
  color: white;
  border: none;
}
.sale-save:disabled{
  background-color: #EEDBA5;
}
.click{
  background-color: #F4BC1E;
  cursor: pointer;
}
/* img-upload */
.write-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-img-form{
  width: 100%;
  height: 100%;
}
.product-img-form input{
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.write-sec .img-upload-con .sale-img-bg{
  position: relative;
  width: 322px;
  height: 205px;
  border-radius: 10px;
  /* background: url("../img/2/test.png") no-repeat; */
  background-position: center;
  background-repeat: no-repeat;
  background: #F2F2F2;
  background-size: cover;
  /* object-fit: cover; */
  cursor: pointer;
  z-index: 10;
}
.write-sec .img-upload-con div img{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.write-sec .img-upload-con div .img-upload{
  object-fit: fill;
}
.product-img-form img{
  cursor: pointer;
}

/* list-write-input */
.list-write-input{
  margin-top: 30px;
}
.list-write-input ul li{
  width: 322px;
}
.list-write-input ul li label + input{
  display: block;
  background: none;
  border: none; 
  width: 100%;
}
.list-write-input ul li{
  border-bottom: #DBDBDB solid 1px;
  margin-bottom: 16px;
}
.list-write-input ul li input:focus {
  outline:none;
}
.list-write-input ul li label{
  font-size: 12px;
}
.list-write-input ul li input{
  font-size: 14px;
  margin: 10px 0;
}
.list-write-input ul li input::placeholder {
  color: #DBDBDB;
}