@import "./feed.css";
.search-result-sec{
  padding: 20px 16px;
}
.search-result-list .post-con-info .img-mini-profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.con-post-info div .post-title{
  margin-bottom: 6px;
}
.con-post-info div .post-user-id{
  margin: 0;
}
.footer-nav ul li:nth-child(1) img{
  filter: invert(82%) sepia(62%) saturate(444%) hue-rotate(356deg) brightness(135%) contrast(111%);
  transform: translateY(-0.5px) scale(1.03);
}

.footer-nav ul li:nth-child(1) span{
  color: #F4BC1E;
  transform: translateY(-0.5px) scale(1.03);
}