@charset "utf-8";
@import "./components/navbar.css";

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hide {
  display: none;
}

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.follow-btn{
  width: 120px;
  height: 34px;
  border-radius: 30px;
  background: #F4BC1E;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
}

.unfollow-btn{
  width: 120px;
  height: 34px;
  border-radius: 30px;
  background: #FFF;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
}

.cancel-btn{
  width: 56px;
  height: 25px;
  border-radius: 26px;
  background: #FFF;
  color: #767676;
  border: 1px solid #DBDBDB;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
}


.follow-btn-small {
  width: 56px;
  height: 28px;
  background: #f4bc1e;
  border-radius: 26px;
}

.unfollow-btn-small {
  width: 56px;
  height: 28px;
  background: #fff;
  border-radius: 26px;
  border: 1px solid #dbdbdb;
}

.display-inline {
  display: inline-block;
}

/* 버튼 초기화 */
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* 한줄 말줄임 */
.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 스킵 네비게이션 */

.nav-skip a {
  position: absolute;
  top: -200px;
  left: 0;
  width: 300px;
  line-height: 30px;
  border: 1px solid #fff;
  color: #fff;
  background: #333;
  text-align: center;
}

.nav-skip a:active,
.nav-skip a:focus {
  top: 0;
}

/* style */

#wrap {
  width: 390px;
  margin: 0 auto;
  background: #e5e5e5;
}

/* 상단바 */

.top-nav {
  position: fixed;
  width: 390px;
  height: 48px;
  border-bottom: 0.5px solid #dbdbdb;
  padding: 13px 12px 12px 16px;
  box-sizing: border-box;
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 99;
}

.icon-left-arrow {
  width: 22px;
  height: 22px;
  float: left;
}

.icon-more {
  width: 24px;
  height: 24px;
  float: right;
}

/* 프로필 */

.profile {
  width: 390px;
  margin: 0 auto;
  border-bottom: 0.5px solid #dbdbdb;
  /* background: rgb(222, 68, 68); */
  margin-top: 48px;
}

.basic-profile {
  margin: 20px auto;
  width: 100px;
  transform: translate(40%, 10%);
}

.basic-profile img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.followers-num {
  width: 43px;
  height: 41px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  vertical-align: top;
  margin-left: 56px;
  margin-top: 65px;
  text-align: center;
  /* background-color: #000; */
}

.followings-num {
  width: 48px;
  height: 23px;
  font-size: 18px;
  font-weight: 700;
  color: #767676;
  vertical-align: top;
  margin-right: 55px;
  margin-top: 65px;
  float: right;
  text-align: center;
  /* background-color: #000; */
}

.followings-num small,
.followers-num small {
  font-size: 10px;
  color: #767676;
  font-weight: 400;
}
.profile-desc {
  text-align: center;
  margin-top: 12px;
}

.profile-desc h2 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.profile-desc small {
  font-size: 12px;
  font-weight: 400;
  color: #767676;
  margin-top: 6px;
}

.profile-desc p {
  font-size: 14px;
  font-weight: 400;
  color: #767676;
  margin-top: 16px;
}

.btn-set {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 28px;
}

.unfollow-btn{
  width: 120px;
  height: 34px;
  background: #FFF;
  border-radius: 30px;
  border: 1px solid #DBDBDB;
}

.icon-massage,
.icon-share {
  width: 34px;
  height: 34px;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-set img {
  width: 15px;
  height: 15px;
  margin: 0 auto;
}

/* 판매 중인 상품 */

.sell {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 20px;
  background-color: #ffffff;
  overflow: hidden;
}
.sell h2 {
  font-size: 18px;
  font-weight: 700;
}
.sell .sell-items {
  display: flex;
  margin-top: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.sell .sell-items .display-sell {
  width: 140px;
  height: 132px;
  margin-right: 10px;
  cursor: pointer;
}

.sell .display-sell img {
  width: 140px;
  height: 90px;
  border-radius: 8px;
}
.sell .display-sell p {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
}
.sell .display-sell small {
  color: #f4bc1e;
  font-size: 12px;
  margin-top: 4px;
}

/* 팔로워 목록 */
.followers-nav {
  width: 390px;
  height: 48px;
  border-bottom: 0.5px solid #dbdbdb;
  padding: 12px 277px 12px 16px;
  box-sizing: border-box;
  background: #fff;
}

.followers-nav h1 {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  vertical-align: text-top;
}

.followers-list {
  background: #fff;
  padding: 24px 16px 0 16px;
}

.followers-list li {
  width: 358px;
  height: 50px;
  margin-bottom: 16px;
}

.followers-list img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  vertical-align: top;
}

.followers-list .follower-desc {
  width: 228px;
}

.followers-list .follower-desc p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-top: 5px;
  margin-bottom: 6px;
}

.followers-list .follower-desc small {
  font-size: 12px;
  font-weight: 400;
  color: #767676;
}

/* 피드 */
.feed-main {
  margin: 6px 0 65px;
  background: #fff;
}
.feed-main div.btn-con {
  display: flex;
  justify-content: flex-end;
  padding: 12px 16px;
}
.feed-main div.btn-con .show-list {
  margin-right: 14px;
}
.feed-main .home-feed {
  padding: 20px 16px;
}
.feed-main .home-feed .art-post {
  margin-bottom: 20px;
}

/* art-post > post-user */
.art-post .post-user {
  position: relative;
}
.post-user .img-mini-profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.post-user div {
  margin-left: 54px;
}
.post-user #more {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
}
.post-user div .post-title {
  padding-top: 4px;
  font-size: 14px;
}
.post-user div .post-user-id {
  padding-top: 6px;
  color: #767676;
  font-size: 12px;
}

/* art-post > post-main */
.art-post .post-main .con-post-main {
  padding-left: 54px;
}
.art-post .post-main .con-post-main p {
  font-size: 14px;
  line-height: 18px;
  margin: 16px 0;
}

.post-main .con-post-main .feedImg img {
  width: 100%;
  height: 226.4px;
  object-fit: fill;
  border-radius: 15px;
}
.art-post .post-main .con-reaction {
  padding-left: 54px;
  color: #767676;
}
.art-post .post-main .con-reaction .list-reaction {
  display: flex;
  align-items: center;
}
.con-reaction .list-reaction li {
  display: flex;
  align-items: center;
  vertical-align: center;
  margin: 14px 18.5px 14px 0;
  font-size: 12px;
  cursor: pointer;
}
.con-reaction .list-reaction li svg {
  margin-right: 8.5px;
}
.con-reaction .list-reaction li img{
  margin-right: 8.5px;
}
/* .con-reaction .list-reaction li div {
  margin-right: 8.5px;
  background-image: url(./img/2/heart.svg) no-repeat center;
} */
.con-reaction .list-reaction .con-reaction .post-date {
  font-size: 10px;
}

.likes svg {
  transition: .2s linear;
}

.likes-on {
  fill: #F26E22;
  stroke: #F26E22;
  cursor: pointer;
  transform: scale(1.15);
}
.post-date {
  font-size: 10px;
}
/* 앨범식 */
.album {
  border-top: 0.5px solid #dbdbdb;
  background: #fff;
}

.album .album-photos {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}
.album .album-photos div {
  width: 114px;
  height: 114px;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  cursor: pointer;
}
.album .album-photos div a {
  width: 100%;
  height: 100%;
}
.album .album-photos div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 하단 바 */

.footer .footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.footer .footer-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  border-top: #dbdbdb 0.5px solid;
}
.footer-nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0 6px;
  translate: all 0.3s;
}
.footer-nav ul li img {
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}
.footer-nav ul li span {
  color: #767676;
  font-size: 10px;
}


/* 모달창 */
.modal_bg {
  position: fixed;
  width: 100%;
  min-width: 390px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.modal_bg.on {
  background-color: #00000041;
  z-index: 99;
}

.userpage_modal {
  /* display: none; */
  position: fixed;
  bottom: -120px;
  left: 0;
  width: 100%;
  min-width: 390px;
  height: 120px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  z-index: 99;
  text-align: left;
  cursor: pointer;
  transition: all .3s linear;
}
.section_sale{
  height: 170px;
  bottom: -170px;
}

.posting_modal {
  /* display: none; */
  position: fixed;
  bottom: -120px;
  left: 0;
  width: 100%;
  min-width: 390px;
  height: 100px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  z-index: 99;
  text-align: left;
  cursor: pointer;
  transition: all .3s linear;
}

.userpage_modal.on, .posting_modal.on{
  bottom: 0;
}

.userpage_modal hr, .posting_modal hr{
  width: 50px;
  height: 5px;
  background-color: #DBDBDB;
  border: none;
}

.userpage_modal button, .posting_modal button {
  display: block;
  text-align: left;
  width: 100%;
  padding: 25px 0 0 20px;
  font-size: 14px;
}

.modal_logout, .modal_report, .modal_delete, .modal_salepost_delete{
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 252px;
  height: 110px;
  border-radius: 10px;
  background: #FFF;
  text-align: center;
  border-radius: 10px;
  z-index: 999;
  display: none;
 
}

.modal_logout.on, .modal_report.on, .modal_delete.on, .modal_salepost_delete.on {
  display: block;
}

.modal_logout p, .modal_report p, .modal_delete p, .modal_salepost_delete.on p{
  width: 100%;
  height: 64px;
  font-size: 15px;
  font-weight: 500;
  border-bottom: .5px solid #DBDBDB;
  line-height: 64px;
}

.modal_logout .cancle-btn, .modal_report .cancel-button, 
.modal_delete .cancel-button, .modal_salepost_delete .cancel-btn {
  width: 125px;
  height: 45px;
  float: left;
  font-size: 14px;
  color: #000;
  border-right: .5px solid #DBDBDB;
  border-radius: 0 0 0 10px;
}
.modal_logout .cancle-btn.on , .modal_report .cancel-button.on, .modal_delete .cancel-button.on, .modal_salepost_delete .cancel-btn.on {
  display: block;
}

.modal_logout .logout-btn, .modal_report .report-btn,
.modal_delete .delete-btn, .modal_salepost_delete .delete-btn
{
  width: 125px;
  height: 45px;
  float: right;
  font-size: 14px;
  color: #F4BC1E;
  border-radius: 10px;
}

/* 게시글 수정 및 삭제 모달 */

/* .modal_delete {
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 252px;
  height: 110px;
  border-radius: 10px;
  background: #FFF;
  text-align: center;
  border-radius: 10px;
  z-index: 999;
  display: none;
 
}

.modal_delete.on{
  display: block;
}

.modal_delete p {
  width: 100%;
  height: 64px;
  font-size: 15px;
  font-weight: 500;
  border-bottom: .5px solid #DBDBDB;
  line-height: 64px;
}

.modal_delete .cancle-btn {
  width: 125px;
  height: 45px;
  float: left;
  font-size: 14px;
  color: #000;
  border-right: .5px solid #DBDBDB;
  border-radius: 0 0 0 10px;

}

.modal_delete .delete-btn {
  width: 125px;
  height: 45px;
  float: right;
  font-size: 14px;
  color: #F4BC1E;
  border-radius: 10px;
} */

/* 네비바 기타옵션 */

.footer-nav ul a:nth-child(4) span {
  color: #f4bc1e;
}
