.sr-only {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.header {
    height: 48px;
    border-bottom: 0.5px solid #dbdbdb;
    box-sizing: border-box;
}

.header .header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.user_post-sec {
    position: relative;
    height: 772px;
    padding: 20px 16px 16px 16px;
    box-sizing: border-box;
}

.user_post-sec .user_post-article {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.user_post-article .user_post-article-cont {
    margin-top: 12px;
}
.user_post-inp {
    margin-left: 13px;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #c4c4c4;
}

.user_post-inp-cont {
    margin-left: 12px;
    margin-bottom: 16px;
    line-height: 17.53px;
    color: black;
}

.user_post-sec-img {
    display: block;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

/* button */
.ms-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4bc1e;
    color: #fff;
    box-sizing: border-box;
    min-width: 90px;
    height: 32px;
    font-size: 14px;
    border-radius: 32px;
}

.ms-btn--disabled {
    background: #eedba5;
}
