@charset "utf-8";

/* setting */
/* animation */
/* reset */
/* utility */
/* layout */
/* design */
/* media query */

/* utility */

.sr-only{
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.follow-btn{
    width: 120px;
    height: 34px;
    background: #F4BC1E;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
}

.unfollow-btn{
    width: 120px;
    height: 34px;
    background: #FFF;
    border-radius: 30px;
    border: 1px solid #DBDBDB;
}

.follow-btn-small{
    width: 56px;
    height: 28px;
    background: #F4BC1E;
    border-radius: 26px;
}

.unfollow-btn-small{
    width: 56px;
    height: 28px;
    background: #FFF;
    border-radius: 26px;
    border: 1px solid #DBDBDB;
}

.display-inline{
    display: inline-block;
}

.modal1{
    width: 390px;
    height: 138px;
    background: #FFF;
    border-radius: 10px 10px 0 0;
}

.modal1::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 5px;
    background: #DBDBDB;
    border-radius: 5px;
    margin: 16px 170px;
}

.modal1 p{
    width: 100%;
    height: 46px;
    padding: 14px 338px 16px 26px;
    font-size: 13px;
    font-weight: 400;
}

.modal2{
    width: 390px;
    height: 184px;
    background: #FFF;
    border-radius: 10px 10px 0 0;
}

.modal2::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 5px;
    background: #DBDBDB;
    border-radius: 5px;
    margin: 16px 170px;
}

.modal2 p{
    width: 100%;
    height: 46px;
    padding: 14px 0 16px 26px;
    font-size: 13px;
    font-weight: 400;
}

.modal3{
    width: 252px;
    height: 110px;
    border-radius: 10px;
    background: #FFF;
    text-align: center;
    border-radius: 10px;
}

.modal3 p{
    width: 100%;
    height: 64px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: .5px solid #DBDBDB;
    line-height: 64px;
}

.modal3 .cancle-btn{
    width: 125px;
    height: 45px;
    float: left;
    font-size: 14px;
    color: #000;
    border-right: .5px solid #DBDBDB;
    border-radius: 0 0 0 10px;

}

.modal3 .del-btn{
    width: 125px;
    height: 45px;
    float: right;
    font-size: 14px;
    color: #F4BC1E;
    border-radius: 10px;

}

/* 버튼 초기화 */
button{
    background: inherit ; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible;
    cursor:pointer
}

/* 한줄 말줄임 */
.sl-ellipsis{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 스킵 네비게이션 */

.nav-skip a{
    position: absolute;
    top: -200px;
    left: 0;
    width: 300px;
    line-height: 30px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    text-align: center;
}

.nav-skip a:active, .nav-skip a:focus {
    top: 0;
}

/* style */

body{
    width: 390px;
    background: #E5E5E5;
}

/* 상단바 */

.top-nav{
    width: 390px;
    height: 48px;
    border-bottom: .5px solid #DBDBDB;
    padding: 13px 12px 12px 16px;
    box-sizing: border-box;
    background: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
}

.icon-left-arrow{
    width: 22px;
    height: 22px;
    float: left;
}

.icon-more{
    width: 24px;
    height: 24px;
    float: right;
}

/* 프로필 */

.profile{
    border-bottom: .5px solid #DBDBDB;
    background: #FFF;
    margin-top: 48px;
}

.basic-profile{
    margin: 30px 35px 0 35px;
    width: 110px;
    height: 110px;
}

.followers-num{
    width: 43px;
    height: 41px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    vertical-align: top;
    margin-left: 56px;
    margin-top: 65px;
}

.followings-num{
    width: 48px;
    height:23px;
    font-size: 18px;
    font-weight: 700;
    color: #767676;
    vertical-align: top;
    margin-right: 55px;
    margin-top: 65px;
    float: right;
}

.followings-num small, .followers-num small{
    font-size: 10px;
    color: #767676;
    font-weight: 400;
}
.profile-desc{
    text-align: center;
    margin-top: 12px;
}

.profile-desc h2{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.profile-desc small{
    font-size: 12px;
    font-weight: 400;
    color: #767676;
    margin-top: 6px;
}

.profile-desc p{
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    margin-top: 16px;
}

.btn-set{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 28px;
}

.icon-massage, .icon-share{
    width: 34px;
    height: 34px;
    border: 1px solid #DBDBDB;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.btn-set img{
    width: 15px;
    height: 15px;
    margin: 0 auto;
}

/* 판매 중인 상품 */

.sell{
    border-top: .5px solid #DBDBDB;
    border-bottom: .5px solid #DBDBDB;
    margin-top: 6px;
    background: #FFF;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sell h2{
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-left: 21px;
}

.sell-items{
    margin-left: 21px;
    margin-bottom: 20px;
}

.sell-items article{
    margin-right: 10px;
}

.sell-items article p{
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    width: 136px;
    line-height: 17px;
}

.sell-items article small{
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #F4BC1E;
}

/* 피드 */

/* 앨범 */
.album{
    border-top: .5px solid #DBDBDB;
    margin-top: 6px;
    background: #FFF;
}

.album-nav{
    height: 44px;
    padding: 9px 20px 9px 300px;
    border-bottom: .5px solid #DBDBDB;
}

.icon-list{
    width: 26px;
    height: 26px;
}

.icon-album{
    width: 26px;
    height: 26px;
    margin-left: 12px;
}

.album-photos{
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 8px;
    margin-bottom: 60px;
}

/* 팔로워 목록 */
.followers-nav{
    width: 390px;
    height: 48px;
    border-bottom: .5px solid #DBDBDB;
    padding: 12px 277px 12px 16px;
    box-sizing: border-box;
    background: #FFF;
}

.followers-nav h1{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    vertical-align: text-top;
}

.followers-list{
    background: #FFF;
    padding: 24px 16px 0 16px;
}

.followers-list li{
    width: 358px;
    height: 50px; 
    margin-bottom: 16px;
}

.followers-list img{
    width: 50px;
    height: 50px;
    margin-right: 12px;
    vertical-align: top;
}

.followers-list .follower-desc{
    width: 228px;
}

.followers-list .follower-desc p{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 5px;
    margin-bottom: 6px;
}

.followers-list .follower-desc small{
    font-size: 12px;
    font-weight: 400;
    color: #767676;
}

.followers-list .follow-btn{
    width: 56px;
    height: 25px;
    border-radius: 26px;
    background: #F4BC1E;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    margin: 11px 0 11px;
    vertical-align: top;
}

.followers-list .cancel-btn{
    width: 56px;
    height: 25px;
    border-radius: 26px;
    color: #767676;
    border: 1px solid #DBDBDB;
    font-size: 12px;
    text-align: center;
    margin: 11px 0 11px;
    vertical-align: top;
}

/* 피드 */
.feed-main{
    background: #FFF;
}

.feed-main {
    margin: 6px 0 65px;
}
.feed-main .home-feed{
    padding: 20px 16px;
}
.feed-main .home-feed .art-post{
    margin-bottom: 20px;
}
.feed-main .home-feed .art-post .post-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.art-post .post-user .img-mini-profile{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.art-post .post-user .con-post-info{
    display: flex;
    align-items: center;
}
  /* art-post > post-user */
.post-user .con-post-info div{
    margin-left: 12px;
}
.post-user .con-post-info div .post-title{
    font-size: 14px;
}
.post-user .con-post-info div .post-user-id{
    margin-top: 4px;
    color: #767676;
    font-size: 12px;
}

  /* art-post > post-main */
.art-post .post-main .con-post-main{
    padding-left: 54px;
}
.art-post .post-main .con-post-main p{
    font-size: 14px;
    line-height: 18px;
    margin: 16px 0;
}
.art-post .post-main .con-post-main img{
    /* 이미지 크기 지정다시하기 */
    height: 100%;
    /* aspect-ratio: auto 9 / 16; */
}

.art-post .post-main .con-reaction{
    padding-left: 54px; 
    color: #767676;
}
.art-post .post-main .con-reaction .list-reaction{
    display: flex;
    align-items: center;
}
.con-reaction .list-reaction li{
    display: flex;
    align-items: center;
    vertical-align: center;
    margin: 14px 18.5px 19px 0;
    font-size: 12px;
}
.con-reaction .list-reaction li img{
    margin-right: 8.5px;
}
.con-reaction .post-date{
    font-size: 10px;
}

.con-reaction .list-reaction li img:hover{
    fill: tomato;
}

/* 하단 바 */

.footer .footer-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}
.footer .footer-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    border-top: #DBDBDB 0.5px solid;
}
.footer-nav ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0 6px;
    translate: all .3s;
}
.footer-nav ul li img{
    width: 24px;
    height: 24px;
    margin-bottom: 7px;
}
.footer-nav ul li span{
    color: #767676;
    font-size: 10px;
}
.footer-nav ul li:hover > img{
    /* fill: #F4BC1E; */
    filter: invert(77%) sepia(82%) saturate(976%) hue-rotate(344deg) brightness(100%) contrast(92%);
    transform: translateY(-2px);
}
.footer-nav ul li:hover > span{
    color: #F4BC1E;
    transform: translateY(-2px);
}